/*  estilos para galeria.html */

/* parametros iniciales */
* {
  margin: 0%;
  padding: 0%;
}

/* --------------------------------------------------------------------------------------- */
/* ------------- Cabecera ------------ */
header {
  margin: 0.8% 1% 0.5% 1%;
  background-color: black;
  border-radius: 10px;
}
/* ------------ Grid cabecera------------- */
.grid_cabecera {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  place-items: center;
  color: rgb(204, 255, 1);
}
/* ------------ Imagen cabecera ------------- */
header img {
  max-width: 60%;
  height: auto;
  padding: 0.5vw;
}
/* ------------ Titulo cabecera ------------- */
.h_txt {
  margin-left: 15vw;
  font-size: 5vw;
  font-weight: bold;
  font-family: "Bruno Ace SC", cursive;
}
/* ------------ Enlaces cabecera ------------- */
header > a {
  color: rgb(204, 255, 0);
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.home {
  margin-left: 15vw;
  width: 4vw;
  height: 4vw;
  background-color: rgb(204, 255, 1);
}
.home > a > img {
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}
/* ------------ Ubicacion celdas Grid cabecera ------------- */
header img {
  grid-column: 1;
  grid-row: 1;
}
.h_txt {
  grid-column: 2/4;
  grid-row: 1;
}
.home {
  grid-column: 4/5;
  grid-row: 1;
}

/* --------------------------------------------------------------------------------------- */
/* --------------- Main --------------- */
main {
  margin: 0 1% 0 1%;
  padding: 1%;
  border-radius: 10px;
  background-color: black;
}
/* ------------ Grid Main ------------- */
.grid_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  grid-auto-rows: minmax(10vw, 25vw); /* alto min y max de renglom */
  gap: 1%; /* espacio entre celdas */
  text-align: center;
}
/* ------------ Celdas de Imagen ------------- */
.gall_item {
  background-color: rgb(0, 55, 253);
  border: none;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.img_cell > img {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.img_cell:hover {
  mix-blend-mode: luminosity;
}
/* ------------ Texto de Imagenes ------------- */
.gall_item > p {
  font-size: 1.8vw;
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.75);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  padding-bottom: 0.5vw;
}
/* ------------ Ubicacion celdas Grid Main------------- */

/* --------------------------------------------------------------------------------------- */
/* ----------- Footer -------------- */
footer {
  margin: 0.4% 1% 0.5% 1%;
  padding: 1.5%;
  border-radius: 8px;
  background-color: black;
}
.grid_footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  font-size: 1.5vw;
  color: rgb(204, 255, 1);
}
.ft_lnk {
  font-size: 1.5vw;
  color: rgb(204, 255, 1);
  text-decoration: none;
}
