/*  estilos para index.html */

/* parametros iniciales */
* {
  margin: 0%;
  padding: 0%;
}

/* --------------------------------------------------------------------------------------- */
/* ------------- Cabecera ------------ */
header {
  margin: 0.8% 1% 0.5% 1%;
  background-color: black;
  border-radius: 10px;
}
/* ------------ Grid cabecera------------- */
.grid_cabecera {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 columnas iguales */
  place-items: center;
  color: rgb(204, 255, 1);
}
/* ------------ Imagen cabecera ------------- */
header img {
  max-width: 60%;
  height: auto;
  padding: 0.5vw;
}
/* ------------ Titulo cabecera ------------- */
.h_txt {
  font-size: 5vw;
  font-weight: bold;
  font-family: "Bruno Ace SC", cursive;
}
/* ------------ Enlaces cabecera ------------- */
header > a {
  color: rgb(204, 255, 0);
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
#sesion {
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
  text-align: center;
  background-color: white;
  font-size: 1.5vw;
  color: rgb(1, 147, 30);
  border: 2pt solid black;
  border-radius: 50%;
}

/* ------------ Ubicacion celdas Grid cabecera ------------- */
header img {
  grid-column: 1;
  grid-row: 1/3;
}
.h_txt {
  grid-column: 2/5;
  grid-row: 1;
}
.h_link_1 {
  grid-column: 2;
  grid-row: 2;
}
.h_link_2 {
  grid-column: 3;
  grid-row: 2;
}
.h_link_3 {
  grid-column: 4;
  grid-row: 2;
}
.hov_link:hover {
  transform: scale(1.8);
}

/* --------------------------------------------------------------------------------------- */
/* --------------- Main --------------- */
main {
  margin: 0 1% 0 1%;
  padding: 1%;
  border-radius: 10px;
  background-color: black;
}
/* ------------ Grid Main ------------- */
.grid_main {
  display: grid;
  grid-template-columns: 22% 1fr 1fr; /* 3 columnas */
  grid-auto-rows: minmax(10vw, 25vw); /* alto min y max de renglom */
  gap: 1%; /* espacio entre celdas */
  text-align: center;
}
/* ------------ Barra de Navegacion ------------- */
.navegacion {
  font-size: 2vw;
  color: white;
  justify-items: center;
  padding-top: 2vw;
}
/* ---------- Logo Wikipedia ---------- */
.svg_wiki img {
  width: 4vw;
  height: 4vw;
  padding-bottom: 1vw;
  fill: white;
}
/* linea de separacion */
.line_rounded {
  width: 70%;
  margin: 2px auto 3px auto;
  border: 0.12vw solid white;
  border-radius: 5px;
}
.lista1 {
  padding: 6%;
  list-style: none;
  display: inline-block;
  line-height: 200%;
  text-align: left;
}
/* links en la lista */
.lista1 > li > a {
  font-size: 1.2vw;
  text-decoration: none;
  font-family: "Bruno Ace SC", cursive;
  color: white;
  padding-left: 1.25vw;
}
.li_hov:hover {
  display: inline-block;
  color: rgb(255, 0, 217);
  transform: scale(2);
}
/* ------------ Celdas de Imagen ------------- */
.gall_item {
  background-color: rgb(255, 0, 255);
  border: none;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.img_cell > img {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.img_cell:hover {
  mix-blend-mode: luminosity;
}
/* ------------ Texto de Imagenes ------------- */
.gall_item > p {
  font-size: 1.8vw;
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.75);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  padding-bottom: 0.5vw;
}
/* ------------ Ubicacion celdas Grid Main------------- */
.navegacion {
  grid-column: 1;
  grid-row: 1/4;
}
.cell_1 {
  grid-column: 2;
  grid-row: 1;
}
.cell_2 {
  grid-column: 3;
  grid-row: 1;
}
.cell_3 {
  grid-column: 2;
  grid-row: 2;
}
.cell_4 {
  grid-column: 3;
  grid-row: 2;
}
.cell_5 {
  grid-column: 2;
  grid-row: 3;
}
.cell_6 {
  grid-column: 3;
  grid-row: 3;
}

/* --------------------------------------------------------------------------------------- */
/* ----------- Footer -------------- */
footer {
  margin: 0.4% 1% 0.5% 1%;
  padding: 1.5%;
  border-radius: 8px;
  background-color: black;
}
.grid_footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  font-size: 1.5vw;
  color: rgb(204, 255, 1);
}
.ft_lnk {
  font-size: 1.5vw;
  color: rgb(204, 255, 1);
  text-decoration: none;
}
